@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
:root{
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}
.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    padding: 20px 15%;
    color: #626262;
    
}

.hero {
    width: 100%; 
    height: 500px;
    border-radius: 15px;
    margin-bottom: 14px;
}

.header {
    position: absolute;
    color: white;
    left: 30%;
    top: 40%;
    transform: translate(-50%,-50%)
}

.header h1 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px; 
}

.header h2 {
    color: #fff;
    font-style: italic;
    font-size: 30px;
    margin-top: 10px; 
}

.header p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: -25px;
    padding: 5px;
}

.header button {
    background-color: #6B4DE6;
    color: black;
    width: 196px;
    height: 45.41px;
    border-radius: 70px;
    border: none;
    font-size: large;
    font-weight: 600;
}

.body {
    width: 100%;
    min-height: 100%; 
    background-color: #F0EEF6;
    display: flex;

}


/* profile section */
.friend_list_container{
    width: 25%;
    margin: 20px 20px 20px 20px;

}

.friend_list{
    display: flex;
    flex-wrap: wrap;
}

.friend_card{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 20px;
    width: 100%;
}





.friend_list_container button {
    background-color: #6B4DE6;
    color: rgb(0, 0, 0);
    width: 196px;
    height: 45.41px;
    border-radius: 70px;
    border: none;
    font-size: large;
    font-weight: 600;
    display: block;
    margin: auto;

}


/* post Conatiner */
.post_container{
    margin: 20px 20px 20px 20px;
    width: 50%;
}

.create_post{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px 15px;
    margin-bottom: 10px; 
}
.post_card{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px 15px;
    margin-bottom: 10px; 
}

.post_card_with_image{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px 15px;
    margin-bottom: 10px; 
}




/* course section */

.course_tutorials_container{
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    width: 25%;
}

.tutorials{
    padding: 10px 10px;
}

.identity{
    display: flex;
}
.middle .create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type='text'] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    columns: var(--color-dark);
    margin-right: 1rem;
}

.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.middle .liked-by {
    display: flex;
}

.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: 0.5rem;
}




